
.color-github {
  color: #333;
}

.color-facebook {
  color: #3b5998;
}

.color-twitter {
  color: #1da1f2;
}

.color-linkedin {
  color: #0077b5;
}

.color-line {
  color: #00c300;
}

.color-medium {
  color: #00ab6c;
}

.color-discord {
  color: #7289da;
}

.color-rss {
  color: #f26522;
}

.color-youtube {
  color: #ff0000;
}
