body {
    font-family: 'Sriracha', sans-serif;
    color: black;
    margin: auto;
    max-width: 50em;
}

footer {
  margin-top: 2.5rem;
}

* {
  text-decoration: none;
  color: #36393f;
}

#header-title {
    text-align: center;
}

.content {
  margin: 2rem 0;
}

.pagination {
  font-size:1.2rem;
  @media only screen and (max-width: 600px) {
    font-size:0.8rem;
  }
}

.archives {
    padding-left: 0;
}

.fit {
  img {
    width: 100%;
  }
}

.archive-list {
  .archive-item {
    &:link {
      color: #069;
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
      color: #666;
    }
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }
}
