<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>{{.Title}} {{with .Site.Author.name}}by {{.}}{{end}}</title>

    {{with .Site.Author.name}}<meta name="author" content="{{ . }}" />{{end}}

    {{ $options := (dict "targetPath" "css/styles.css" ) }}
    {{ $styleBassCss := resources.Get "sass/styles.scss" | resources.ToCSS $options | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styleBassCss.Permalink }}">

</head>
<body>
